<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js"></script>
<script>
  let pwd = document.getElementById("password");
  let theClose = document.querySelector(".close");
  let theClose1 = document.querySelector(".close1");
  let theBtn = document.querySelector(".addPost1");
  let theBtn2 = document.querySelector(".addPost2");
  let theMain = document.querySelector(".loginForm");
  let overLay = document.querySelector(".overlay");

  theBtn.addEventListener("click", function () {
    theMain.classList.toggle("hide");
    overLay.classList.toggle("hide");
  });

  theClose.addEventListener("click", function () {
    theMain.classList.toggle("hide");
    overLay.classList.toggle("hide");
  });

  theBtn2.addEventListener("click", function () {
    theMain.classList.toggle("hide");
    overLay.classList.toggle("hide");
  });

</script>
</body>
</html>
