<%- include("partials/_header.ejs") %>
<div class="about-section paddingTB60 gray-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-6">
        <div class="about-title clearfix">
          <h1>About <span>Us</span></h1>

          <p class="about-paddingB">
            Welcome to BlogTrip! We are team travelers with a passion for
            exploring the world’s hidden gems and sharing our adventures with
            our fellow travel enthusiasts.
          </p>
          <h4>Our Mission</h4>
          <p>
            At Blogtrip, our mission is simple: to fuel your wanderlust and help
            you explore the world with confidence. We believe that travel is
            more than just visiting new places; it’s about experiencing
            different cultures, meeting new people, and creating unforgettable
            memories. Our goal is to make travel accessible, enjoyable, and
            hassle-free for everyone.
          </p>

          <h4>Who We Are</h4>
          <p>
            We are a team of passionate travelers, storytellers, and adventure
            seekers who have explored every corner of the globe. With years of
            travel experience under our belts, we bring you first-hand insights,
            practical tips, and inspiring stories that will ignite your passion
            for travel. Our diverse backgrounds and shared love for adventure
            drive us to continually seek out new destinations and experiences to
            share with you.
          </p>
          <h4>Join Our Community</h4>
          <p>
            Blogtrip is more than just a travel blog; it’s a community of
            like-minded travelers. We invite you to join us on social media,
            share your travel stories, and connect with fellow adventurers.
            Together, we can explore new horizons and make the world a little
            smaller, one trip at a time. Thank you for being part of our
            journey. Here’s to many more adventures! Happy travels,
            <strong>The BlogTrip Team.</strong>
          </p>
          <div class="col-md-5 col-sm-6">
            <div class="about-img">
              <img
                src="https://devitems.com/preview/appmom/img/mobile/2.png"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Social Media-->
    <div class="socialMedia">
      <div class="container_flex">
        <ul class="theList">
          <a href="#" class=""><i class="fa-brands fa-github"></i></a>

          <a href="#" class=""><i class="fa-brands fa-facebook"></i></a>

          <a href="#" class=""><i class="fa-brands fa-instagram"></i></a>

          <a href="#" class=""><i class="fa-brands fa-x-twitter"></i></a>
        </ul>
      </div>
    </div>
  </div>
</div>
<%- include("partials/_footer.ejs") %>
