<%- include("partials/_header.ejs") %>
<div class="container">
  <div class="span8 mt-5">
    <div class="row">
      
      <div class="span8">
        <h4>
          <strong>10 things to know before coming to Disney Paris</strong>
        </h4>
      </div>
    </div>
    <div class="row">
      <div class="span2">
        <a href="#" class="thumbnail">
          <img src="imgs/paris_disney.png" width="100%" height="100%" alt="" />
        </a>
      </div>
      <div class="span6 mt-5">
        <h2>10 things to know before coming to Disney Paris, are:</h2>
        <p>
            <ul>
            <strong>Location: </strong>
            <li>Disneyland Paris is located in Marne-la-Vallée, approximately 32 </li>
            <strong>Two Parks:</strong> 
            <li>The resort consists of two main parks: Disneyland Park, which is the classic theme park with iconic attractions, and Walt Disney Studios Park, focused on films and shows.</li>
           <strong> Sleeping Beauty Castle: </strong>
            <li>The centerpiece of Disneyland Park is the Sleeping Beauty Castle (Le Château de la Belle au Bois Dormant), which features unique design elements inspired by French fairy tales and legends.</li>
            <strong>Diverse Attractions: </strong>
            <li>The parks offer a range of attractions for all ages, from thrilling rides like Big Thunder Mountain to family-friendly experiences like It's a Small World and Ratatouille: The Adventure.</li>
            <strong>Cultural Influence:</strong> 
          <li>  Disneyland Paris incorporates European culture and sSeasonal Events: The resort hosts various seasonal events throughout the year, including Halloween celebrations, Christmas festivities, and special 30th-anniversary events in 2022.</li>
            <strong>Dining Options: </strong>
            <li>Disneyland Paris offers diverse dining experiences, from Accommodations: The resort features several themed hotels, ranging from budget to luxury options, as well as proximity to partner hotels offering amenities and shuttle services.</li>
            <strong>Language: </strong>
            <li>While English is widely spoken in the parks, you may encounter French.</li>
            <strong>FastPass System: </strong>
            <li>Disneyland Paris has a FastPass system that allows guests to reserve access to certain attractions and minimize wait times, although it has evolved with the introduction of the Disney Genie service.</li>
        </ul>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="span8">
        <p>
          <i class="icon-user"></i> By <a href="#">Yasmin Smith</a> |
          <i class="icon-calendar"></i> <%= locals.date %> |
          <i class="icon-comment"></i> <a href="#">3704 Comments</a> |
          <i class="icon-share"></i> <a href="#">1900 Shares</a> |
        </p>
      </div>
    </div>
  </div>
</div>
<hr />
</div>
<%- include("partials/_footer.ejs") %>
